<!DOCTYPE html>
<html>
	<head>

		<!-- Meta -->
		<%- await include("./partials/meta.ejs"); -%>

		<!-- Styles -->
		<%- await include('partials/styles'); -%>

	</head>
	<body class="body-container">

		<!-- Header -->
		<%- await include('partials/header'); -%>

		<!-- Sidebar -->
		<%- await include('partials/sidebar'); -%>

		<!-- Content -->
		<div class="content-container" id="content">
			<p>I am content.</p>
		</div>

		<!-- Scripts -->
		<%- await include('partials/scripts'); -%>

	</body>
</html>
